---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
const allBooks = await Astro.glob('./books/*.md')
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="w\idth=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Books</title>
	</head>
	<body>
		<div class="root">
			<Navbar />
            <div class="root">
                <ul class="posts-container">
                    {allBooks.map((book) => <li><a href={book.url}>{book.frontmatter.title}</a></li>)}
                </ul>
            </div>
			<Footer />
		</div>
	</body>
</html>

<style>
body{
	background-color: #282c34;
	color: #abb2bf
}
.root{
	margin-right:30%;
	margin-left: 30%;
    text-align: center;
}
.posts-container{
    list-style: none;
    padding: 0;
    text-align: center;
}
.posts-container li a{
    color: #abb2bf;
    text-decoration: none;
}
.posts-container li a:hover{
    color:#61afef;
    transition: .4s;
}
</style>