---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Posts</title>
	</head>
	<body>
		<div class="root">
			<Navbar />
            <div class="root">
                <ul class="posts-container">
                    {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
                </ul>
            </div>
			<Footer />
		</div>
	</body>
</html>

<style>
body{
	background-color: #282c34;
	color: #abb2bf
}
.root{
	max-width: 740px;
	margin-right: auto;
	margin-left: auto;
    text-align: center;
}
.posts-container{
    list-style: none;
    padding: 0;
    text-align: center;
}
.posts-container li a{
    color: #abb2bf;
    text-decoration: none;
}
.posts-container li a:hover{
    color:#61afef;
    transition: .4s;
}
</style>
