---

---
<div class="bottom">
    <a href="https://www.github.com/nhenderson22" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/nhenderson22" target="_blank">Linkedin</a>
    <a href="https://www.youtube.com/channel/UCcnD3Bo4-iNxLzzvIYKxcuQ" target="_blank">Youtube</a>
</div>

<style>
.bottom {
    text-align: center;
}
.bottom a{
    color: #abb2bf;
    text-decoration: none;
    border-bottom: 2px solid #abb2bf;
}
.bottom a:hover{
    color: #61afef;
    border-bottom: 2px solid #61afef;
    transition: .4s;
}
</style>