---

---
    <div class="Logo">
        <a href="/"> Noah Henderson </a>
    </div>
    <div class="links">
        <a href='/posts'>Posts</a>
        <a href="/projects">Projects</a>
    </div>


<style>
.Logo {
    text-align: center;
    width: 100%;
    color: #abb2bf;
    border-bottom: 2px solid #61afef;
}
.Logo a{
 text-decoration: none;
 color: #abb2bf;
 font-size: 24px;
}
.links{
    text-align: center;
}
.links a{
    color: #abb2bf;
    text-decoration: none;
    border-bottom: 2px solid #abb2bf;
}
.links a:hover{
    color: #61afef;
    border-bottom: 2px solid #61afef;
    transition: .4s;
}
.Logo a:hover{
    color: #61afef;
    transition: .4s;
}
</style>